:root{
  --cor-fundo:#2B2B33;
  --cor-destaque:#0119F5;
  --cor-texto:#FFFFFF;
}

body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

strong{
  color: var(--cor-destaque);
}

a{
  color: var(--cor-texto);
  font-size: 22px;
  text-decoration: none;
  background-color: var(--cor-destaque);
  padding: 10px 40px;
  margin: 10px;
  border-radius: 67865px;
}